:root {
    --textColor-black: black;
    --textColor-white: #ffffff;
    --textColor-grey: #7777;
    --textColor-blue: #52BEDC;

    --ui-yellow: #F8F200;
    
    

    --font-main: 'Roboto', sans-serif;
    --font-title: 'Archangelsk', sans-serif;
    
}
